APP_HOST=
APP_PORT=
APP_RELOAD=

FULL_LOGS=

CORS_ORIGINS=
CORS_METHODS=
CORS_HEADERS=
CORS_CREDENTIALS=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_TEST_DB=

REDIS_HOST=
REDIS_PORT=