APP_HOST=
APP_PORT=
APP_RELOAD=

FULL_LOGS=

CORS_ORIGINS=
CORS_METHODS=
CORS_HEADERS=
CORS_CREDENTIALS=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

REDIS_HOST=
REDIS_PORT=

SECRET_KEY=
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

AUTH0_DOMAIN=
AUTH0_AUDIENCE=